@import '../../colors';


.info{
  display: flex;
  align-items: center;
}
.info__wrapper{
  width: 50%;
}

.info__img{
  width: 50%;
}

#scroll-to-services{
  display: flex;
  height: 40px;
  width: 120px;
  background-color: $blue;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: large;
  align-items: center;
  justify-content: center;
  transition: .3s;
  cursor: pointer;
  box-shadow: 0px 0px 3px $blue;
}

#scroll-to-services:hover{
  background-color: $lightblue;
  color: white;
  box-shadow: 0px 0px 3px $lightblue;
}

.info__zagolovok{
  font-weight: 600;
  margin: 15px 0px;
}

.info__text{
  font-weight: 400;
  margin: 15px 0px;
}