.window__title {
  background-color: transparent;
  border: none;
  position: static;
  top: 10px;
  right: 10px;
  margin: 10px;
}
.window__img {
  padding: 5px; 
  width: 200px; 
  height: 200px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto
}
.window__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: outline-color .15s ease-in-out;
  border-radius: 3px;
  padding: 0 ;
  text-align: center;
  display: block;
  width: 30px;
  height: 30px;
}
.window__nameinput {
  background-color: azure;
  width: 400px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
}
.window__phoneinput {
  background-color: azure;
  width: 400px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
}
.window__emailinput {
  background-color: azure;
  width: 400px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
}
fieldset {
  min-height: 50px;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 10px;
}

legend {
  padding: 2px;
}
.window__main {
  z-index: 10000; 
  background-color: blue;
  min-width: 600px;
  min-height: 600px;
  opacity: 1; 
  border-radius: 20px;
  padding: 20px;
   position: relative;
}
.modalwindoworder {
  position: fixed; display: none; top: 0; left: 0; background-color: rgba(82, 82, 82, 0.5); width: 100vw; height: 100vh; z-index: 5000; justify-content: center; align-items: center;
}

.btn__submit{
  width: 150px;
  height: 50px;
  background-color: white;
  margin: auto;
}