@import '../../colors';

.otzivi{
  margin-top: 50px;
}

.otzivi__zag{
  font-family: 'DrukTextWideCyr';
  font-size: 50px;
  color: $white;
  margin: 50px 0;
}

.otzivi__container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.otziv__img{
  width: 300px;
  -webkit-filter: drop-shadow(0px 0px 10px $lightgreen);
  filter: drop-shadow(0px 0px 10px $lightgreen);
  margin-bottom: 50px;
}

@media (max-width: 800px){
  .otzivi__zag{
    font-size: 30px;
  }
}

@media (max-width: 1100px){
  .otziv__img{
    width: 30%;
  }
}

@media (max-width: 750px){
  .otziv__img{
    width: 100%;
  }
  .otziv__img:last-child{
    margin-bottom: 0;
  }
  .otzivi__container{
    flex-wrap: wrap;
  }
}


@media (max-width: 1200px){
  .otzivi__zag{
    text-align: center;
  }
}
