@import '../../colors';

.reasons{
  display: flex;
  margin: 50px 0;
  align-items: center;
}

.reasons__left{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reasons__zag{
  font-family: 'DrukTextWideCyr';
  font-size: 50px;
  color: $white;
  margin: 20px 0;
}


.reasons__texttop{
  font-family: 'Raleway-Regular';
  font-size: 20px;
  color: $white;
  margin: 20px 0;
}

.reasons__textbot{
  font-family: 'DrukTextWideCyr';
  font-size: 20px;
  color: $white;
  margin: 20px 0;
  color: $containergreen;
}

.reasons__img{
  width: 300px;
  max-width: 200px;
}



.reasons__right{
  background-color: white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  // left: calc((100vw - 1017px)/2);
  position: relative;
  width: 100vw;
  margin: 50px 30px;
}

.reasons__rightcont{
  padding-right: 200px;
}


.reasons__rightzag{
  color: $gray;
  font-family: 'DrukTextWideCyr';
  font-size: 30px;
}

.reasons__righttext{
  color: $gray;
  font-family: 'Raleway-Regular';
  font-size: 20px;
}


@media (max-width: 1100px){
  .reasons{
    flex-direction: column;

  }
  .reasons__right{
    width: 100%;
  }
  .reasons__left{
    text-align: center;
  }
  .reasons__img{
    width: 250px;
  }
}

@media (max-width: 800px){
  .reasons__zag{
    font-size: 30px;
  }
  .reasons__text{
    font-size: 20px;
  }
  .reasons__rightcont{
    padding-right: 0px;
  }
  .reasons__img{
    width: 200px;
  }
}

@media (max-width: 600px){
  
  .reasons__rightzag{
    font-size: 25px;
  }
  .reasons__righttext{
    font-size: 20px;
  }
  .reasons__img{
    width: 150px;
  }
}
