@import '../../colors';

.services{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.product-item {
  width: 250px;
  text-align: center;
  margin: 25px;
  border-bottom: 2px solid #F5F5F5;
  background: $orange_cards;
  font-family: "Open Sans";
  transition: .3s ease-in;
}
.product-item:hover {
  border-bottom: 2px solid $orange_cards;
}
.product-item img {
  display: block;
  width: 100%;
}
.product-list {
  background: #fafafa;
  padding: 15px 0;
}
.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}
.price {
  font-size: 16px;
  color: $orange_cards;
  display: block;
  margin-bottom: 12px;
}
.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: .3s ease-in;
  border:  0;
}
.product-item:hover .button {
  background: $orange_cards;
}


