$graybold: #464646;
$blue: #0099ff;
$lightblue: #87cfff;
$red: rgb(255, 70, 70);
$lightred: rgb(255, 120, 120);


$white: #FFFFFF;
$purple:#590DF5;
$lightgreen: #D6FE51;
$containergreen: #CBFE00;
$blackback: #151314;
$gray: #323232;