@charset "UTF-8";
.header {
  height: 70px;
  box-shadow: 0px 1px 10px black;
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 22000; }

.telegramm__logo:hover {
  opacity: 0.7; }

.logo {
  display: flex;
  align-items: center;
  color: #464646; }
  .logo h1 {
    margin: 0; }

.logo__img {
  height: 70px; }

.contacts__header {
  margin-right: 20px; }

.number__header {
  height: 40px;
  background-color: #ff4646;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-size: 15px !important;
  transition: .3s;
  box-shadow: 0px 0px 3px #ff4646;
  color: white; }

.telegramm__logo {
  height: 40px;
  transition: .3s; }

.phone__number {
  text-decoration: none; }

.number__header:hover {
  background-color: #ff7878;
  box-shadow: 0px 0px 3px #ff7878; }
  .number__header:hover .phone__number {
    color: white; }

.nav__header {
  height: 70px; }

.list__nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 70px; }

.li__nav:not(:last-child) {
  margin-right: 20px; }

.li__nav {
  list-style-type: none;
  font-size: 20px;
  transition: .3s; }

@media (max-width: 700px) {
  .li__nav {
    margin-bottom: 40px; } }
@media (max-width: 900px) {
  .nav__menu {
    display: none; } }
.nav__menu {
  justify-content: space-around;
  width: 500px; }

.nonedec {
  cursor: pointer; }

.active {
  color: #ff4646; }

.main {
  margin-top: 70px;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  height: 100%; }

@media (max-width: 1100px) {
  .main {
    margin: 50px;
    margin-top: 70px; } }
@media (max-width: 500px) {
  .main {
    margin: 20px;
    margin-top: 70px; } }
.background__main {
  top: 0;
  position: fixed;
  z-index: -1; }

.bg__main__img {
  height: 100vh; }

.info {
  display: flex;
  align-items: center; }

.info__wrapper {
  width: 50%; }

.info__img {
  width: 50%; }

#scroll-to-services {
  display: flex;
  height: 40px;
  width: 120px;
  background-color: #0099ff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: large;
  align-items: center;
  justify-content: center;
  transition: .3s;
  cursor: pointer;
  box-shadow: 0px 0px 3px #0099ff; }

#scroll-to-services:hover {
  background-color: #87cfff;
  color: white;
  box-shadow: 0px 0px 3px #87cfff; }

.info__zagolovok {
  font-weight: 600;
  margin: 15px 0px; }

.info__text {
  font-weight: 400;
  margin: 15px 0px; }

.services {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly; }
  .services img {
    width: 100%; }

.product-item {
  width: 300px;
  text-align: center;
  margin: 25px;
  border-bottom: 2px solid #F5F5F5;
  background: #87cfff;
  font-family: "Open Sans";
  transition: .3s ease-in;
  border-radius: 6px;
  border: 2px solid #aaaaaa; }

.product-item:hover {
  border: 2px solid #0099ff; }

.product-item img {
  display: block;
  width: 100%; }

.product-list {
  background: white;
  padding: 15px 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #464646;
  margin: 0 0 10px 0; }

.price {
  font-size: 16px;
  color: #0099ff;
  display: block;
  margin-bottom: 12px; }

.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: .3s;
  border: 0;
  border-radius: 6px;
  margin: 5px; }

.button:hover {
  background-color: #0099ff; }

@media (max-width: 820px) {
  .product-item {
    width: 200px; } }
@media (max-width: 620px) {
  .product-item {
    width: 150px; } }
@media (max-width: 520px) {
  .product-item {
    width: 300px; } }
.slider {
  margin: 50px 0px;
  background-color: #0099ff; }

.img-in-slider {
  height: 500px;
  margin: auto; }

@media (max-width: 650px) {
  .img-in-slider {
    height: 400px; } }
@media (max-width: 550px) {
  .img-in-slider {
    height: 350px; } }
@media (max-width: 450px) {
  .img-in-slider {
    height: 250px; } }
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important; }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important; }

.window__title {
  background-color: transparent;
  color: #0099ff;
  position: static;
  top: 10px;
  right: 10px;
  padding-bottom: 10px;
  margin: 10px;
  font-size: 40px;
  text-align: center; }

.window__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: outline-color .15s ease-in-out;
  border-radius: 3px;
  padding: 0;
  text-align: center;
  display: block;
  width: 30px;
  height: 30px; }

.window__nameinput {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
  padding-top: 7px; }

.window__phoneinput {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
  padding-top: 7px; }

::placeholder {
  color: #aaaaaa;
  /* Опционально: цвет текста placeholder */
  font-size: large; }

.window__emailinput {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px;
  padding-top: 7px; }

fieldset {
  min-height: 40px;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 2px solid #0099ff;
  background-color: white; }

.window__main {
  z-index: 10000;
  background-color: white;
  max-width: 500px;
  opacity: 1;
  border-radius: 6px;
  padding: 20px;
  position: relative; }

.modalwindoworder {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(70, 70, 70, 0.3);
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  justify-content: center;
  align-items: center;
  transition: opacity .3s;
  opacity: 0; }

@media (max-width: 590px) {
  .window__main {
    width: 70%; } }
.btn__submit {
  width: 100%;
  height: 40px;
  background-color: #0099ff;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: large;
  font-weight: 600; }

.btn__submit:hover {
  background-color: #87cfff;
  color: white; }

.modal__paragraph {
  text-align: center;
  font-size: 20px; }

.modal__container {
  right: 10px; }

.window_container {
  margin: 10px; }

.burger__img {
  display: none;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 70px;
  margin: 10px;
  border-radius: 10%;
  cursor: pointer;
  background-color: rgba(70, 70, 70, 0.3); }

#cross__img {
  opacity: 0;
  right: -150px;
  cursor: pointer;
  z-index: 20001;
  background: none; }

@media (max-width: 700px) {
  .header {
    display: none; }

  .burger__img {
    display: block; }

  .burger__wrapper {
    display: block; } }
#blackback {
  background-color: rgba(70, 70, 70, 0.3);
  opacity: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0; }

.burger__wrapper {
  display: none;
  opacity: 0;
  right: 1000px;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 20000;
  top: 0; }

.burger__menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 70%;
  left: 0;
  position: absolute;
  box-shadow: 0px 1px 10px black; }

.burger__list {
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: flex-start; }

.burger__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0;
  margin: 40px;
  list-style-type: none;
  background-color: #0099ff;
  border-radius: 6px;
  font-size: 20px;
  color: white; }

.logo__burger {
  border-bottom: 3px solid #aaaaaa; }

.contacts__header__burger {
  margin: 0px 40px; }

.guarantees {
  margin-top: 50px; }

#zagolovok__second {
  text-align: center; }

.proofs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center; }

.proofs__el {
  width: 190px;
  background-color: #0099ff;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 30px; }

@media (max-width: 1100px) {
  .proofs__el {
    width: 300px; } }
@media (max-width: 850px) {
  .proofs__el {
    width: 400px; } }
.proof__img {
  width: 100px;
  padding: 10px; }

.proof_zagolovok {
  width: 100%;
  text-align: left;
  color: #ffffff;
  padding: 10px;
  margin: 0; }

.proofs__text {
  padding: 10px;
  color: white;
  text-align: left;
  font-weight: 300;
  margin: 0; }

.otzivi__examples {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center; }

.otzivi__el {
  height: 400px;
  width: 400px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 50px;
  border: 10px dashed #0099ff; }

.otzivi__img {
  width: 100px;
  padding: 10px; }

.otzivi_zagolovok {
  width: 100%;
  text-align: left;
  color: #464646;
  padding: 10px;
  margin: 0; }

.otzivi__text {
  padding: 10px;
  color: #464646;
  text-align: left;
  font-weight: 300;
  margin: 0; }

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 600;
  color: #464646; }

.html {
  scroll-behavior: smooth; }

img {
  opacity: 1;
  transition: opacity 0.3s; }

img[data-src] {
  opacity: 0; }

.element-animation {
  opacity: 0;
  transform: translateY(50px); }

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%); }
