$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   false !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     false !default;
$prefix-for-spec:      true !default; // required for keyframe mixin


$develop:true;
$production:false;
$all:true;
$ie9:false;
$ie8:false;
$ie7:false;
$doc:false;
$local_var:global;
$holydat_var:none;

@import 'header/header';
@import 'header/components/logo';
@import 'header/components/contacts';
@import 'header/components/nav';
@import 'main/main';
@import 'main/components/info';
@import 'main/components/onas';
@import 'main/components/uslugi';
@import 'main/components/specs';
@import 'main/components/otzivi';
@import 'main/components/reasons';
@import 'main/components/meet';
@import 'header/components/burger';
@import 'footer/footer';

@import 'colors';
*{
  box-sizing: border-box;
}


.html{
  scroll-behavior: smooth;
  overflow: hidden;
}

img {
  opacity: 1;
  transition: opacity 0.3s;
  } 
img[data-src] {
  opacity: 0;
} 

.element-animation{
  opacity: 0;
  transform: translateY(50px);
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

@font-face {
  font-family: "Raleway-Bold"; 
  // адрес шрифта и тип 
  src: url("../../../fonts/Raleway-Bold.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  font-display: swap;
  } 

@font-face {
  font-family: "DrukTextWideCyr"; 
  // адрес шрифта и тип 
  src: url("../../../fonts/druktextwidecyr-medium.otf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  font-display: swap;
  } 

  

@font-face {
  font-family: "Raleway-Regular"; 
  // адрес шрифта и тип 
  src: url("../../../fonts/Raleway-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  font-display: swap;
  } 