.header {
  height: 100px;
  background-color: #ff9e4f;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; }

.logo {
  display: inline-block;
  height: 100px;
  width: 150px; }
  .logo img {
    display: inline;
    width: 100px; }

.nav {
  height: 100px;
  width: 60%; }
  .nav ul {
    display: flex;
    height: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
    .nav ul li {
      display: inline-block;
      height: 100px;
      position: relative; }
      .nav ul li a {
        top: 50%;
        position: absolute;
        transform: translate(0, -50%);
        font-size: 1.5rem;
        white-space: nowrap;
        text-decoration: none;
        color: #2c80ff; }

.contacts {
  display: inline-block;
  height: 100px;
  width: 200px; }
  .contacts ul {
    margin: 0;
    padding: 0;
    height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contacts ul li {
      display: block;
      vertical-align: middle;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 1rem;
      color: #2c80ff; }

.main {
  background-color: purple;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  height: 100%; }

.info h1 {
  text-align: center;
  margin: 0;
  padding: 10px; }
.info p {
  margin: 0;
  padding: 0; }

.services {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly; }

.product-item {
  width: 250px;
  text-align: center;
  margin: 25px;
  border-bottom: 2px solid #F5F5F5;
  background: #ff7300;
  font-family: "Open Sans";
  transition: .3s ease-in; }

.product-item:hover {
  border-bottom: 2px solid #ff7300; }

.product-item img {
  display: block;
  width: 100%; }

.product-list {
  background: #fafafa;
  padding: 15px 0; }

.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0; }

.price {
  font-size: 16px;
  color: #ff7300;
  display: block;
  margin-bottom: 12px; }

.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: .3s ease-in;
  border: 0; }

.product-item:hover .button {
  background: #ff7300; }

.slider {
  margin: 50px; }

.img-in-slider {
  height: 500px;
  margin: auto;
  background-color: black; }

@media (max-width: 650px) {
  .img-in-slider {
    height: 400px; } }
@media (max-width: 550px) {
  .img-in-slider {
    height: 350px; } }
@media (max-width: 450px) {
  .img-in-slider {
    height: 250px; } }
.footer {
  height: 100px;
  background-color: #ff9e4f;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden; }

.window__title {
  background-color: transparent;
  border: none;
  position: static;
  top: 10px;
  right: 10px;
  margin: 10px; }

.window__img {
  padding: 5px;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.window__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: outline-color .15s ease-in-out;
  border-radius: 3px;
  padding: 0;
  text-align: center;
  display: block;
  width: 30px;
  height: 30px; }

.window__nameinput {
  background-color: azure;
  width: 400px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px; }

.window__phoneinput {
  background-color: azure;
  width: 400px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px; }

.window__emailinput {
  background-color: azure;
  width: 400px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px; }

fieldset {
  min-height: 50px;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 10px; }

legend {
  padding: 2px; }

.window__main {
  z-index: 10000;
  background-color: blue;
  min-width: 600px;
  min-height: 600px;
  opacity: 1;
  border-radius: 20px;
  padding: 20px;
  position: relative; }

.modalwindoworder {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(82, 82, 82, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  justify-content: center;
  align-items: center; }

.btn__submit {
  width: 150px;
  height: 50px;
  background-color: white;
  margin: auto; }

* {
  box-sizing: border-box;
  font-family: 'Montserrat', Courier, monospace;
  font-weight: 600; }
