header, footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #0099ff; }

.burger__img {
  display: none;
  position: fixed;
  right: 0px;
  width: 70px;
  margin: 10px;
  border-radius: 10%;
  cursor: pointer; }

#cross__img {
  opacity: 0;
  right: -150px;
  cursor: pointer;
  z-index: 20001; }

@media (max-width: 900px) {
  header {
    display: none; }

  .burger__img {
    display: block; }

  .burger__wrapper {
    display: block; } }
#blackback {
  background-color: rgba(82, 82, 82, 0.5);
  opacity: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh; }

.burger__wrapper {
  display: none;
  opacity: 0;
  right: 1000px;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 20000; }

.burger__menu {
  background-color: black;
  height: 100%;
  width: 70%;
  left: 0;
  position: absolute; }

.burger__ul {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start; }

.burger__el {
  margin: 50px; }

.menu {
  flex-grow: 1; }

.menu ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 2px 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  list-style: none; }

.menu li {
  margin-right: 20px; }

.menu li:last-child {
  margin-right: 0; }

.menu a {
  font-weight: 600;
  color: white;
  text-decoration: none; }

.logo {
  margin-right: 30px; }

.menu a,
.menu .active {
  display: block;
  padding: 8px 10px;
  text-transform: uppercase;
  letter-spacing: .27em; }

.menu .active {
  color: #fff;
  background-color: #ff3d00;
  border-radius: 8px; }

.tel {
  font-size: 20px;
  line-height: 24px; }

.tel a {
  padding-right: 10px;
  color: white;
  text-decoration: none; }

.main {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  height: 100%; }

@media (max-width: 1100px) {
  .main {
    margin: 0px 50px; } }
.info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: #464646; }
  .info .zagolovok__1 {
    text-align: center;
    margin: 0;
    padding: 50px;
    font-size: 100px;
    font-weight: 600; }
  .info .par__main {
    margin: 0;
    padding: 0; }
  .info .ul__main {
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .info .li__main {
    border: 3px solid #0099ff;
    background-color: #0099ff;
    border-radius: 10px;
    list-style-type: none;
    font-size: 30px; }
  .info .li__main:not(:last-child) {
    margin-bottom: 20px; }

.services {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly; }

.product-item {
  width: 300px;
  text-align: center;
  margin: 25px;
  border-bottom: 2px solid #F5F5F5;
  background: black;
  font-family: "Open Sans";
  transition: .3s ease-in; }

.product-item:hover {
  border-bottom: 2px solid #0099ff; }

.product-item img {
  display: block;
  width: 100%; }

.product-list {
  background: #fafafa;
  padding: 15px 0; }

.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0; }

.price {
  font-size: 16px;
  color: #0099ff;
  display: block;
  margin-bottom: 12px; }

.button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: .3s ease-in;
  border: 0; }

.product-item:hover .button {
  background: #0099ff; }

.slider {
  margin: 50px 0px;
  background-color: black; }

.img-in-slider {
  height: 500px;
  margin: auto; }

@media (max-width: 650px) {
  .img-in-slider {
    height: 400px; } }
@media (max-width: 550px) {
  .img-in-slider {
    height: 350px; } }
@media (max-width: 450px) {
  .img-in-slider {
    height: 250px; } }
.footer {
  height: 100px;
  background-color: #ff9e4f;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden; }

.window__title {
  background-color: transparent;
  border: none;
  position: static;
  top: 10px;
  right: 10px;
  margin: 10px; }

.window__img {
  padding: 5px;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.window__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  outline: 1px solid transparent;
  outline-offset: 3px;
  transition: outline-color .15s ease-in-out;
  border-radius: 3px;
  padding: 0;
  text-align: center;
  display: block;
  width: 30px;
  height: 30px; }

.window__nameinput {
  background-color: azure;
  width: 400px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px; }

.window__phoneinput {
  background-color: azure;
  width: 400px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px; }

.window__emailinput {
  background-color: azure;
  width: 400px;
  height: 20px;
  border: none;
  background: transparent;
  outline: none;
  font-size: 15px; }

fieldset {
  min-height: 50px;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid azure; }

legend {
  padding: 2px; }

.window__main {
  z-index: 10000;
  background-color: #587C4E;
  min-width: 600px;
  min-height: 600px;
  opacity: 1;
  border-radius: 20px;
  padding: 20px;
  position: relative; }

.modalwindoworder {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(82, 82, 82, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  justify-content: center;
  align-items: center; }

.btn__submit {
  width: 150px;
  height: 50px;
  background-color: #97AB8F;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer; }

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 600; }
