@import '../../colors';

.burger__img{
  display: none;
  position:fixed;
  right: 0px;
  top: 0px;
  width: 70px;
  margin: 10px;
  border-radius: 10%;
  cursor: pointer;
  background-color: rgba($color: $graybold, $alpha: 0.3);
  z-index: 20001;
}

#cross__img{
  opacity: 0;
  right: -150px;
  cursor: pointer;
  z-index: 20001;
  background: none;
}

@media (max-width: 700px){
  .header{
    display: none;
  }
  .burger__img{
    display: block;
  }
  .burger__wrapper{
    display: block;
  }
}

#blackback{
  background-color: rgba($color: $graybold, $alpha: 0.3);
  opacity: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 19000;
}

.burger__wrapper{
  display: none;
  opacity: 0;
  right: 1000px;
  position:fixed;
  height: 100vh;
  width: 100%;
  z-index: 20000;
  top: 0;
}

.burger__menu{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
  width: 70%;
  left: 0;
  position: absolute;
  box-shadow: 0px 1px 10px black;

}

.burger__list{
  padding: 0;
  margin: 0;
  flex-direction: column;
  align-items: flex-start;
}


.burger__item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0;
  margin: 40px;
  list-style-type: none;
  background-color: $blue;
  border-radius: 6px;
  font-size: 20px;
  color: white;
}

.logo__burger{
  border-bottom: 3px solid $gray;
}

.contacts__header__burger{
  margin:0px 40px;
}
