@import '../../colors';



.number__header{
  height: 40px;
  background-color: $red;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  font-size: 15px !important;
  transition: .3s;
  box-shadow: 0px 0px 3px $red;
  color: white;
}

.telegramm__logo{
  height: 40px;
  transition: .3s;
}

.phone__number{
  text-decoration: none;
}

.number__header:hover{
  background-color: $lightred;
  box-shadow: 0px 0px 3px $lightred;
  .phone__number{
    color: white;
  }
}