@import '../../colors';

.logo{
  .logo__name{
    font-family: 'DrukTextWideCyr';
    font-size: 2.5em;
    color: $white;
    cursor: pointer;
    text-decoration: none;
  }
  .logo__namecontainer{
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


