@import '../../colors';

.nav__header{
  height: 70px;
}

.list__nav{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 70px;
}

.li__nav:not(:last-child){
  margin-right: 20px;
}

.li__nav{
  list-style-type: none;
  font-size: 20px;
  transition: .3s;
}

@media(max-width:700px){
  .li__nav{
    margin-bottom: 40px;
  }
}

@media(max-width:900px){
  .nav__menu{
    display: none;
  }
}

.nav__menu{
  justify-content: space-around;
  width: 500px;
}

.nonedec{
  cursor: pointer;
}

.active{
  color: $red;
}