@import '../colors';

header, footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: $blue;
  
}


.burger__img{
  display: none;
  position: fixed;
  right: 0px;
  
  width: 70px;
  margin: 10px;
  border-radius: 10%;
  cursor: pointer;
  
}

#cross__img{
  opacity: 0;
  right: -150px;
  cursor: pointer;
  z-index: 20001;
}

@media (max-width: 900px){
  header{
    display: none;
  }
  .burger__img{
    display: block;
  }
  .burger__wrapper{
    display: block;
  }
}

#blackback{
  background-color: rgba(82, 82, 82, 0.5);
  opacity: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.burger__wrapper{
  display: none;
  opacity: 0;
  right: 1000px;
  position:fixed;
  height: 100vh;
  width: 100%;
  z-index: 20000;
}

.burger__menu{
  background-color: black;
  height: 100%;
  width: 70%;
  left: 0;
  position: absolute;
}

.burger__ul{
  display: flex;
  flex-direction: column !important;
  align-items: flex-start;
}

.burger__el{
  margin: 50px;
}